attrs==23.1.0
black==23.11.0
cattrs==23.2.3
click==8.1.7
exceptiongroup==1.2.0
lsprotocol==2023.0.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pygls==1.2.1
ruff==0.1.6
ruff-lsp==0.0.45
tomli==2.0.1
typing_extensions==4.8.0
